<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (supplier()) {
      <div>
        <h2 data-cy="supplierDetailsHeading"><span>Supplier</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ supplier()!.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ supplier()!.name }}</span>
          </dd>
          <dt><span>Address</span></dt>
          <dd>
            <span>{{ supplier()!.address }}</span>
          </dd>
          <dt><span>Phone</span></dt>
          <dd>
            <span>{{ supplier()!.phone }}</span>
          </dd>
          <dt><span>Material Id</span></dt>
          <dd>
            @if (supplier()!.materialId) {
              <div>
                <a [routerLink]="['/material', supplier()!.materialId?.id, 'view']">{{ supplier()!.materialId?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/supplier', supplier()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
