<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (materialExport()) {
      <div>
        <h2 data-cy="materialExportDetailsHeading"><span>Material Export</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ materialExport()!.id }}</span>
          </dd>
          <dt><span>Creation Date</span></dt>
          <dd>
            <span>{{ materialExport()!.creationDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Export Date</span></dt>
          <dd>
            <span>{{ materialExport()!.exportDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ materialExport()!.status }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ materialExport()!.code }}</span>
          </dd>
          <dt><span>Created By User</span></dt>
          <dd>
            <span>{{ materialExport()!.createdByUser?.id }}</span>
          </dd>
          <dt><span>Production Site</span></dt>
          <dd>
            @if (materialExport()!.productionSite) {
              <div>
                <a [routerLink]="['/production-site', materialExport()!.productionSite?.id, 'view']">{{
                  materialExport()!.productionSite?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/material-export', materialExport()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
