<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-material-receipt-detail-heading" data-cy="MaterialReceiptDetailCreateUpdateHeading">
        Thêm mới hoặc cập nhật Material Receipt Detail
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_importPrice">Import Price</label>
          <input
            type="number"
            class="form-control"
            name="importPrice"
            id="field_importPrice"
            data-cy="importPrice"
            formControlName="importPrice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_material">Material</label>
          <select
            class="form-control"
            id="field_material"
            data-cy="material"
            name="material"
            formControlName="material"
            [compareWith]="compareMaterial"
          >
            <option [ngValue]="null"></option>
            @for (materialOption of materialsSharedCollection; track $index) {
              <option [ngValue]="materialOption">{{ materialOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_receipt">Receipt</label>
          <select
            class="form-control"
            id="field_receipt"
            data-cy="receipt"
            name="receipt"
            formControlName="receipt"
            [compareWith]="compareMaterialReceipt"
          >
            <option [ngValue]="null"></option>
            @for (materialReceiptOption of materialReceiptsSharedCollection; track $index) {
              <option [ngValue]="materialReceiptOption">{{ materialReceiptOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
